replicaCount: 1

image:
  repository: nginx
  tag: "1.26.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 64Mi

# Environment name (for labels)
environment: helm-demo
